/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* custom styles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.container {
  width: 1360px;
  max-width: 100%;
  padding: 0 32px;
  margin: 0 auto;
}

.height-full {
  min-height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.grid-3-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.grid-item {
  padding: 5px;
  text-align: center;
  /* border: 2px solid red; */
}

.grid-item img {
  max-width: 100%;
  height: auto;
}

.grid-item h2 {
  margin-top: 10px;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.align-cneter {
  align-items: center;
}

.flex-85 {
  flex: 0 1 85%;
}

.flex-15 {
  flex: 0 1 10%;
}

.sizes {
  font-size: 14px;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(236, 235, 235);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

/* header */
.aside {
  margin-top: 15px;
}

header {
  padding: 25px 0px;
  background-color: rgb(73, 5, 183);
  margin-bottom: 30px;
}

nav a {
  font-size: 18px;
  color: white;
}

.btn {
  padding: 8px 35px;
  border: none;
}

.btn-primary {
  background-color: rgb(28, 28, 28);
  color: white;
}

.m-top-20 {
  margin-top: 20px;
}

.line {
  width: 28px;
  height: 2px;
  background-color: rgb(209, 179, 5);
  text-align: center;
  margin: 0 auto;
  margin-top: 25px;
}

/* footer */

footer {
  padding: 25px;
  background-color: blueviolet;
}

/* CartPopup.css */
.cart-overlay {
  position: fixed;
  top: 78px;
  left: 65%;
  width: 450px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.cart-popup {
  background-color: rgb(39, 39, 39);
  /* border-radius: 8px; */
  color: white;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  overflow: auto;
}

.cart-button {
  position: absolute;
  top: 80px;
  right: 10px;
  background-color: rgb(39, 39, 39);
  color: white;
  width: 70px;
  height: 70px;
  font-size: 30px;
  margin-right: 8px;
}

.cart-count {
  position: absolute;
  top: 30px;
  right: 5px;
  background-color: rgb(234, 191, 0);
  color: rgb(8, 8, 8);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.sub-total {
  margin-top: 20px;
  font-size: 18px;
}

.btn-checkout {
  width: 100%;
  padding: 8px;
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  font-size: 15px;
  text-transform: uppercase;
}

.size-select{
  width: 50%;
  margin: 10px auto 10px auto;
}

footer p {
  color: white;
}

footer a{
  color: white;
  margin-right: 15px;
}